<div class="py-3 px-8 bg-gray-100 relative content">
    <span class="text-xl p-1">Agendamentos</span>

    <div class="bg-white shadow rounded-t-xl mt-3 p-4 flex items-center justify-between">
        <div class="flex items-center gap-3">
            <div class="flex items-center gap-2">
                <mat-icon class="text-gray-400">filter_list</mat-icon>
            </div>
            <div>
                <mat-chip-listbox #matchip (change)="changedFilter(matchip)">
                    <mat-chip-option value="todos" selected>Todos</mat-chip-option>
                    <mat-chip-option [value]="ScheduleStatus.Agendado">Agendados</mat-chip-option>
                    <mat-chip-option [value]="ScheduleStatus.Concluido">Concluídos</mat-chip-option>
                    <mat-chip-option [value]="ScheduleStatus.Cancelado">Cancelados</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </div>
        
        <div class="flex items-center gap-6">
            <app-badge-button [text]="'Total'" [quantityObserver$]="schedlingQuantity$"></app-badge-button>
            <button (click)="registerSchedule()" mat-flat-button>
                <mat-icon>add</mat-icon> Agendar
            </button>
        </div>
    </div>
    
    <div class="bg-white relative max-h-[315px] overflow-auto shadow">
        <table class="!bg-white" mat-table [dataSource]="schedules$">
            <ng-container matColumnDef="name">
                <th class="text-gray-400" mat-header-cell *matHeaderCellDef>
                    Nome
                </th>
                <td mat-cell *matCellDef="let schedule"> {{schedule.patient.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="status">
                <th class="text-gray-400" style="text-align: right;" mat-header-cell *matHeaderCellDef>
                    Status
                </th>
                <td style="text-align: right;" mat-cell *matCellDef="let schedule"> 
                    <app-status-card [type]="schedule.status"></app-status-card>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="date">
                <th class="text-gray-400" style="text-align: center;" mat-header-cell *matHeaderCellDef>
                    Data agendada
                </th>
                <td style="text-align: center;" mat-cell *matCellDef="let schedule"> {{schedule.schedulingDate | date: 'dd/MM/YYYY'}} </td>
            </ng-container>
        
            <ng-container matColumnDef="time">
                <th class="text-gray-400" style="text-align: center;" mat-header-cell *matHeaderCellDef>
                    Hora agendada
                </th>
                <td style="text-align: center;" mat-cell *matCellDef="let schedule"> {{schedule.schedulingTime}} </td>
            </ng-container>

            <ng-container matColumnDef="scheduleIn">
                <th class="text-gray-400" mat-header-cell *matHeaderCellDef>
                    Feito em
                </th>
                <td mat-cell *matCellDef="let schedule"> {{schedule.createAt | date: 'dd/MM/YYYY'}} </td>
            </ng-container>

            <ng-container class="text-right" matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td style="text-align: right;" mat-cell *matCellDef="let schedule">                    
                    @if (schedule.status == ScheduleStatus.Agendado) {
                        <button (click)="cancelSchedule(schedule.id)" class="mr-2" mat-icon-button>
                            <mat-icon class="text-red-500">delete</mat-icon>
                        </button>
                        <button (click)="confirmSchedule(schedule.id)" mat-icon-button>
                            <mat-icon class="text-green-500">done</mat-icon>
                        </button>
                    }
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        @if ((schedules$ | async)?.length === 0) {
            <div class="w-full text-center p-4">Nenhum registro foi encontrado</div>
        }
    </div>
    <mat-paginator class="rounded-b-xl !bg-white shadow" [length]="totalLength" [pageSize]="5" [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons>
    </mat-paginator>
    <div class="absolute left-0 bottom-0 w-full">
        <app-footer></app-footer>
    </div>
</div>